@model MvcPeliculasApiAWS.Models.Pelicula

@{
    ViewData["Title"] = "UpdatePeli";
}

<h1>UpdatePeli</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePeli">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPelicula" class="control-label"></label>
                <input asp-for="IdPelicula" class="form-control" />
                <span asp-validation-for="IdPelicula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Argumento" class="control-label"></label>
                <input asp-for="Argumento" class="form-control" />
                <span asp-validation-for="Argumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor" class="control-label"></label>
                <input asp-for="Actor" class="form-control" />
                <span asp-validation-for="Actor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Youtube" class="control-label"></label>
                <input asp-for="Youtube" class="form-control" />
                <span asp-validation-for="Youtube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
